:root {
    --primary-color: #563077;
    --secondary-color: #9135b4;
    --accent-color: #ff4b2b;
    --text-color: white;
    --background-color: #f0f0f0;
    --player-text-color: white;
}


body{
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(143deg, #9135b4 0%, #410059 45%, #310142 72%, #2b003a 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh; /* Asegura que cubra toda la altura de la ventana */
    justify-content: center;
    align-items: center;
    overflow: auto; /* Evita scrolls innecesarios */
}

.nav-container {
    display: flex;
    justify-content: center;
}

.navbar {
    background: #563077;
    border-radius: 26px;
    padding: 10px;
    display: inline-flex;
    justify-content: center; /* O space-evenly para espacios iguales */
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 690px;
    position: relative;
}

.nav-item{
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    position: relative;
    margin: 0 40px;
    transition: all 0.4s ease;
    color: white;
    cursor: pointer;
    z-index: 1;
}

.nav-item.active {
    color: black;
}

.navbar a {
    text-decoration: none;
}

.nav-indicator {
    position: absolute;
    height: 100%;
    padding: 5px 40px 5px 40px;
    background: white;
    border-radius: 40px;
    transition: all 0.3s ease;
    z-index: 0;
    box-shadow: 0 5px 15px rgba(255, 75, 43, 0.4);
}

.nav-item:hover {
    font-weight: 400;
    color: black;
}

.content-section {
    background: white;
    border-radius: 20px;
    margin: 40px 90px 0 90px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    display: none; /* Oculta todas las secciones por defecto */
}

.content-container {
    display: flex;
    margin: 15px;
}

.content-section.active {
    display: block; /* Solo la secci칩n activa visible */
    animation: fadeIn 0.5s ease; /* Animaci칩n al mostrar */
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.0); }
    to { opacity: 1; transform: scale(1); }
}

/* Contenido de inicio */

#inicio {
    background: white;
    min-height: 530px;
    margin-top: 90px;
}

.inicio-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inicio-title h1 {
    text-decoration: underline;
    display: inline-block;
}

.emoji {
  font-size: 1em;         /* Mantiene el tama침o igual al texto */
  vertical-align: middle;   /* Centra verticalmente con el texto */
  line-height: 1;           /* Reduce el espacio vertical */
  display: inline-block;    /* Opcional: mejora el control */
}

.inicio-description {
    font-size: 18px;

}

/* Contenido de reproduciendo */
#reproduciendo {
    background: none;
    overflow: hidden;
    color: var(--player-text-color);
    box-shadow: none;
    margin: 90px 15px 0 15px;
}

.reproduciendo-content {
    display: flex; 
    flex-direction: row;
    align-items: center;
}


.album-art {
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.album-image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover; /* Asegura que la imagen cubra el 치rea sin distorsionarse */
}

.song-details {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}

.song-details, .song-name, .artist-name {
    text-shadow: 0 0 8px #fff, 0 0 1px #9135b4;
}

.song-name {
    font-size: 24px;
}



/* En vivo */
#envivo {
    background: none;
    min-height: 600px;
    flex-direction: row;
    align-items: center;
    box-shadow: none;
    overflow: hidden;
}

#envivo.content-section.active {
    display: flex;
}

.promocion {
    background: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    min-height: 600px;
    min-width: 200px;
    margin-right: 15px;
    margin-left: 15px;
}

.stream {
    width: 78%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 0;
}